.active {
  font-weight: bold;
  color: #09819c;
  border-bottom: 5px solid #09819c;
}

.active-content {
  margin: 50px;
  padding: 10px;
}

.tab:hover {
  color: #09819c;
}

.tab {
  color: #677e8c;
}

.tabs-nav {
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #09819c;
}

.tabs-nav li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}



